body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

header {
    background-color: rgb(130, 87, 31);
}

nav {
    background-color: rgb(115, 253, 157);
}

main {
    background-color: rgb(111, 228, 117);
    font-size: larger;
}

footer {
    background-color: aqua;
}

li {
    display: inline-block;
}

h1 {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(200, 180, 150);
}

p {
    line-height: normal;
}